.Portfolio-container .container-fluid .porfolio-flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}


.Portfolio-container .container-fluid .porfolio-flex-container .portfolio-entry {
    display: flex;
    font-size: 90px;
    line-height: 90px;
    color: #fff;
    height: 330px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.Portfolio-container .porfolio-flex-container a {    flex-basis: 26%;
    padding-left: 8px;
    padding-right: 8px;
    margin: 10px;}

    a:hover {
    text-decoration: none !important;
}